/* Ensures the header background matches USWDS primary color */
.custom-header {
  background-color: #44546a;
  padding: 20px 20px;
}

/* Ensures the logo and text are on the same line */
.header-content {
  display: flex;
  align-items: center;
  gap: 25px; /* Space between logo and text */
}

/* Adjust logo size */
.header-logo {
  height: 120px;
  width: auto;
}

/* Ensures the text does not wrap */
.usa-logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}

.usa-header {
  width: 100%;
  background-color: #005ea2; /* Example background */
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  max-width: 1480px;
}

.usa-header .usa-navbar {
  width: 100%;
  max-width: 1480px;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  height: 60px;
}

.header-title-wrapper {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}

.header-title:hover {
  text-decoration: underline;
}

.header-links {
  margin-top: 5px;
  display: flex;
  gap: 20px; /* Spacing between the links */
}

.header-link {
  font-size: 0.875rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-link:hover {
  text-decoration: underline;
  color: #e1e1e1;
}

